
html {
    color: #000;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote,
th, td, hr, button, article, aside, details, figcaption, figure, footer, header,
menu, nav, section {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-default {
    height: 60px;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body, button, input, select, textarea {
    font-size: 15px;
}

input, select, textarea {
    font-size: 100%;
}

.heading {
    word-wrap: break-word;
}

.heading h1 {
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 10px;

}

.heading p {
    margin: 8px;
    padding: 8px;
    font-size: 2.5em;
}

form {
    margin-left: 15px;
}

.form-control {
    font-size: 16px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.newName {
    margin: 10px;
    padding: 8px;
    font-size: 20px;
}

.alert {
    margin-top: 10px;
    margin-left: 15px;
    width: 500px;
}

.generalHeading {
    margin: 20px 15px;
    font-size: 2.5em;
}

.colorForms {
    margin: 20px 15px;
    width: 90%;
}

/*.colorInput {*/
    /*width: 90;*/
/*}*/

.generalButton {
    margin-top: 5px;
    margin-bottom: 5px;
}

#export {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.generalLeftButton {
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.import {
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.import label {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.import input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.colors {
    float: left;
    width: 40%
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: inherit;
}

fieldset, img, a img {
    border: 0;
}

iframe {
    display: block;
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h5, h6 {
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body .hideH1 {
    display: none;
}

.left, .right {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    background: #f5f3ef;
    font-family: 'Lato', sans-serif;
}

.cheat-detail {
    background: #b3b3b3 fixed 100% 100%;
}

.loading {
    margin: 0 auto;
    font-style: italic;
    font-size: 20px;
    color: #999;
    padding-top: 350px;
}

.content {
    padding-top: 25px;
    margin: 0 auto;
    display: none;
}

.heading h1 {
    font-size: 5em;
    margin-left: 15px;
}

.template-content {
    margin-left: 15px;
}

.box {
    border-radius: 8px;
    margin: 15px 10px 10px 15px;
    padding: 15px;
    width: 200px;
    color: #fff;
    opacity: 0.9;
    word-break: normal;
}

.box table {
    table-layout: fixed;
    width: 100%;
}

.box em {
    font-style: italic;
}

.content-class {
    margin: 0 auto;
}

.content-class .box {
    width: 300px;
}

.box h2 {
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
    margin-bottom: 5px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}

.box video {
    width: 100%;
}

.box a {
    font-size: 15px;
    color: rgb(184, 184, 184);
    text-decoration: none;
    word-break: break-word;
    display: inline;
}

.box a:hover {
    background: #ccc;
    color: #000;
}

.box h3 {
    margin: 10px auto 5px auto;
    font-size: 22px;
    font-weight: bold;
    color: #ba9d37;
}

.box h4 {
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 17px;
    font-weight: bold;
    color: #ba9d37;
}

.box blockquote {
    word-break: normal;
    word-wrap: break-word;
    margin-top: 3px;
    margin-bottom: 3px;
    border-left-width: 2px;
    padding-left: 2px;
}

.box canvas {
    display: none;
}

.box iframe {
    width: 100%;
}

.box td {
    padding: 7px;
    word-wrap: break-word;
}

.box audio {
    width: inherit;
}

.box th {
    word-wrap: break-word;
    color: #ba9d37;
    padding: 6px;
    font-size: 17px;
}

img {
    display: none
}

.box code {
    font-size: 14px;
    text-decoration: none;
    display: initial;
    word-wrap: break-word;
    background-color: #F9F2F4;
    border-radius: 2px;
    white-space: inherit;
}

.box pre {
    margin: 10px auto;
    word-break: normal;
    word-wrap: break-word;
}

.pre-button {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 13px;
}

.box pre code {

    word-break: normal;
    word-wrap: break-word;
    display: none;
}

.box li {
    padding-left: 10px;
    list-style-type: circle;
    list-style-position: inside;
    margin-top: 5px;
}

.box ul {
    /* targets all ul elements */
    /* general styles */
    padding-left: 5px;
}

.box ul li {
    /* targets all li elements within a ul */
    /* general styles */
    margin-top: 5px;
    padding-left: 10px;
    list-style: disc;
    list-style-position: inside;
}

.box ul li ul {
    /* targets all ul elements within an li element, itself within a ul */
    /* overrule general 'outer' styles */
    padding-left: 12px;
}

.box ul li ul li {
    /* targets all li elements within a ul element,
                    within an li element, itself within a ul...and so on */
    /* overrule general 'outer' styles */
    margin-top: 4px;
    padding-left: 13px;
    list-style-type: circle;
    list-style-position: inside;
}

.sheetButtons {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#message {
    font-size: 2.5em;
    margin-left: 15px;
    margin-bottom: 15px;
}