
body, section {
    width: 500px;
    height: 400px;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-left: 18px;
    margin-top: 25px;
}

section {
    padding: 5px;
    position: relative;
}

.tableSheetName{
    font-size: 17px;
    width: 250px;
}

.tableGlyphs{
    width: 130px
}

.tableButton{
    width: 100px;
}

.editGlyph{
    margin-left: 40px;
}

.navbar {
    margin-bottom: 2px;
}

.btn-success{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.btn-info{
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 3px;
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive {
    background: red;
}


.topRow h1{
    display: inline-block;
}

.topRow label{
    display: inline-block;
    margin-left: 60px;
    margin-right: auto;
    font-size: 15px;
}

h3{
    margin-left: 15px;
}

