<div ng-controller="editController as edit">

    <h1>Edit your sheet</h1>

    <h3>{{sheet.message}}</h3>

    <form name="name" ng-if="newSheet" novalidate class="simple-form">
        Name: <input type="text" required="" ng-model="sheet.newName"/><br/>
    </form>
    <div class="container-fluid">
        <textarea class="form-control" ng-model="content" type="text" rows="25">
            {{content}}
        </textarea>

        <button ng-click="edit.submit()" class="btn btn-success btn-lg">Submit</button>
        <button ng-click="previewSheet()" class="btn btn-primary btn-lg">Preview</button>
    </div>
</div>
