<div ng-controller="viewController as view">

    <h1>View your sheet</h1>

    <h3>{{sheet.name}}</h3>
    <strong>{{sheet.message}}</strong>

    <div id="container" class="js-masonry">
        <div class="item"><h2>Im edward</h2>

            <p>im a bird</p></div>

        <div class="item"><h2>Im edward</h2>

            <p>im a bird</p></div>

        <div class="item"><h2>Im edward</h2>

            <p>im a bird</p></div>

        <div class="item"><h2>Im edward</h2>

            <p>im a bird</p></div>
        <!--<div ng-bind-html="sheet.content"></div>-->
    </div>
</div>