<!DOCTYPE html>
<html ng-app="ownsheetApp" ng-csp>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>edit your sheet</title>
    <script src="lib/jquery-2.1.3.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/edit.css" rel="stylesheet">
</head>

<body>


<div ng-controller="editController">

    <h1>Edit your sheet</h1>

    <div class="container-fluid">
        <textarea class="form-control" type="text" rows="25">
# ownsheet ignores these headings

this text will be ignored

## each of these headings will form a box

this text will be content of a box

## another box

* you can fill in any markdown you want
  * it will be part of the box

`Like these`

&lt;h3&gt;Even html will work&lt;/h3&gt;

## Note however that there are better options for editing markdown (online or offline)

### ownsheet shines when it comes to displaying markdown not so much when it comes to editing it
        </textarea>

        <button ng-click="submitSheet()" class="btn btn-success btn-lg">Submit</button>
        <button ng-click="previewSheet()" class="btn btn-primary btn-lg">Preview</button>
    </div>
</div>

<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services/chromeStorageService.js"></script>
<script src="js/controllers/popupController.js"></script>

</body>
</html>