<div ng-controller="editController as edit">
    <div class="heading">
        <h1>Edit your sheet</h1>

        <h3>{{sheet.message}}</h3>
    </div>
    <form name="name" ng-if="newSheet" novalidate class="simple-form newName">
        Name: <input type="text" required="" ng-model="sheet.newName"/><br/>
    </form>
    <div class="container-fluid">
        <textarea height="80%" class="form-control" ng-model="content" type="text" rows="25">
            {{content}}
        </textarea>

        <button ng-click="edit.submit()" class="btn btn-success btn-xlarge">Submit</button>
        <button type="button" ng-click="edit.preview()" class="btn removeButton btn-primary btn-xlarge">
            <span class="glyphicon glyphicon-eye-open"></span> Preview
        </button>
    </div>
</div>
